<div class="w-full max-w-2xl mx-auto">
  <%
    carb_data = local_assigns[:totals]
    max_score = carb_data.first[:corrigan_score]
  %>

  <div class="flex flex-col gap-y-6 p-6">
    <% carb_data.each_with_index do |carb, index| %>
      <% score_percentage = calculate_score_percentage(carb[:corrigan_score], max_score) %>
      <div class="relative bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200 py-6 px-4 lg:px-6">
        <div class="absolute top-1 left-2 text-sm text-amber-600 font-bold"><%= ranking_label(index + 1) %> Place</div>
        <div class="flex items-end justify-between mb-4">
          <div class="flex items-center gap-x-2 lg:gap-x-4">
            <div class="text-2xl lg:text-4xl"><%= carb[:emoji] %></div>
            <div>
              <h3 class="text-2xl lg:text-4xl text-amber-800 font-black"><%= carb[:name] %></h3>
            </div>
          </div>
          <div class=" flex flex-col items-end justify-start">
            <div class="text-xs lg:text-sm text-amber-600 font-bold">Corrigan Score</div>
            <div class="text-xl lg:text-3xl text-amber-900 font-black"><%= carb[:corrigan_score] %> pts</div>
          </div>
        </div>

        <div class="mb-4">
          <div class="w-full bg-amber-200 rounded-full h-3">
            <div class="bg-gradient-to-r from-amber-500 to-amber-600 h-3 rounded-full transition-all duration-500"
                  style="width: <%= score_percentage %>%"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
