<div class="w-full max-w-2xl mx-auto">
  <%
    carb_data = local_assigns[:totals]
    max_ratio = carb_data.first[:havoc_ratio]
  %>

  <div class="mx-6">
    <details>
      <summary class="px-4 cursor-pointer font-semibold text-stone-500">
        Weighted Havoc Ratio Explained
      </summary>
      <div class="px-4 pt-3 text-stone-700 ">
         <p class="mb-3">
          The Weighted Havoc Ratio emerged as part of The ISOCRA's "Winton Decree", and is a revolutionary newly-legitimised
          form of scoring where Contenders are placed solely based on the number of top ranking votes they received.
        </p>
        <p class="mb-3">
          After decades of underground use, proponents of this scoring system finally gained enough political power within ISOCRA
          to lobby for its legitimisation, arguing its purity as Contenders are only scored based on whether or not they finish top.
        </p>
        <p>
          Corrigan Traditionalists are often diametrically opposed to this populist
          movement, highlighting the fact that such a blunt measure ignores nuance and is symptomatic of Broken Britain.
        </p>
      </div>
    </details>
  </div>

  <div class="flex flex-col gap-y-6 p-6">
    <% carb_data.each_with_index do |carb, index| %>
      <% ratio_percentage = calculate_score_percentage(carb[:havoc_ratio], max_ratio) %>
      <div class="relative bg-gradient-to-br from-yellow-200/30 to-yellow-100/30 rounded-md shadow-md shadow-stone-200 py-6 px-4 lg:px-6">
        <div class="absolute top-1 left-2 text-sm text-rose-600 font-bold"><%= ranking_label(index + 1) %> Place</div>
        <div class="flex items-end justify-between mb-4">
          <div class="flex items-center gap-x-2 lg:gap-x-4">
            <div class="text-2xl lg:text-4xl"><%= carb[:emoji] %></div>
            <div>
              <h3 class="text-2xl lg:text-4xl text-amber-800 font-black"><%= carb[:name] %></h3>
            </div>
          </div>
          <div class=" flex flex-col items-end justify-start">
            <div class="text-xs lg:text-sm text-rose-600 font-bold">Havoc Ratio</div>
            <div class="text-xl lg:text-3xl text-amber-900 font-black"><%= carb[:havoc_ratio] %><span class="text-rose-600 text-sm lg:text-lg ml-1">%</span></div>
          </div>
        </div>

        <div class="mb-4">
          <div class="w-full bg-rose-200 rounded-full h-3">
            <div class="bg-gradient-to-r from-rose-500 to-rose-600 h-3 rounded-full transition-all duration-500" style="width: <%= ratio_percentage %>%"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
